<launch>
  <arg name="start_vins_estimator" default="true"/>
  <arg name="start_vins_bridge" default="true"/>
  <arg name="odom_mode" default="vins_only"/>
  <arg name="vehicle_type" default="iris"/>
  <arg name="vehicle_num" default="2"/>
  <arg name="world_frame" default="world"/>
  <arg name="primary_odom_topic_suffix" default="vins_estimator/imu_propagate"/>
  <arg name="enable_fallback_local_odom" default="$(eval arg('odom_mode') == 'vins_with_fallback' and int(arg('vehicle_num')) < 6)"/>
  <arg name="enable_mavros_vision_pose" default="$(eval int(arg('vehicle_num')) < 6)"/>
  <arg name="primary_timeout_sec" default="0.6"/>

  <group if="$(arg start_vins_estimator)" ns="iris_0">
    <node pkg="vins" type="vins_node" name="vins_estimator" output="screen" args="$(find vins)/../config/xtdrone_sitl/iris_0_px4_sitl_config.yaml"/>
  </group>

  <group if="$(arg start_vins_estimator)" ns="iris_1">
    <node pkg="vins" type="vins_node" name="vins_estimator" output="screen" args="$(find vins)/../config/xtdrone_sitl/iris_1_px4_sitl_config.yaml"/>
  </group>

  <node if="$(arg start_vins_bridge)" pkg="clean_uav_core" type="multi_vins_bridge.py" name="phase3_multi_vins_bridge" output="screen">
    <param name="vehicle_type" value="$(arg vehicle_type)"/>
    <param name="vehicle_num" value="$(arg vehicle_num)"/>
    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="odom_mode" value="$(arg odom_mode)"/>
    <param name="primary_odom_topic_suffix" value="$(arg primary_odom_topic_suffix)"/>
    <param name="enable_mavros_vision_pose" value="$(arg enable_mavros_vision_pose)"/>
    <param name="force_world_frame" value="true"/>
    <param name="enable_fallback_local_odom" value="$(arg enable_fallback_local_odom)"/>
    <param name="primary_timeout_sec" value="$(arg primary_timeout_sec)"/>
  </node>
</launch>